.selectBox {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.label {
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 12px;
  opacity: 1;
  background-color: #fff;
  padding: 0 4px;
}

.selectField {
  width: 100%;
  padding: 10px;
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: 0.2s ease all;
  font-size: 16px;
  height: 100%;
}

.selectField:focus {
  border-color: #DB4444;
}


